.info-block {
    border-color: rgb(201, 209, 217);
    padding: 25px 25px 15px 25px;
    margin-bottom: 30px;
    border-radius: 6px;
}
h4 {
    margin-bottom: 20px;
    text-align: center;
}
.info-container {
    min-height: 410px;
}
span {
    font-weight: bold;
}
.dark {
    background-color: rgb(13, 17, 23);
}
.select-err {
    color: #fff;
    text-align: center;
    font-size: 14px;
}
