@keyframes ldio-i5w2beqq8dr {
    0% { transform: rotate(0deg) }
   50% { transform: rotate(22.5deg) }
  100% { transform: rotate(45deg) }
}
.ldio-i5w2beqq8dr > div {
  transform-origin: 100px 100px;
  animation: ldio-i5w2beqq8dr 0.2s infinite linear;
}
.ldio-i5w2beqq8dr > div div {
    position: absolute;
    width: 22px;
    height: 152px;
    background: #1d3f72;
    left: 100px;
    top: 100px;
    transform: translate(-50%,-50%);
}
.ldio-i5w2beqq8dr > div div:nth-child(1) {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.ldio-i5w2beqq8dr > div div:nth-child(6) {
    width: 80px;
    height: 80px;
    background-color: rgb(13, 17, 23);
    border-radius: 50%;
}.ldio-i5w2beqq8dr > div div:nth-child(3) {
  transform: translate(-50%,-50%) rotate(45deg)
}.ldio-i5w2beqq8dr > div div:nth-child(4) {
  transform: translate(-50%,-50%) rotate(90deg)
}.ldio-i5w2beqq8dr > div div:nth-child(5) {
  transform: translate(-50%,-50%) rotate(135deg)
}
.loadingio-spinner-gear-cr6seti4z {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  overflow: hidden;
  background: none;
}
.ldio-i5w2beqq8dr {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
  margin: 0 auto;
}
.ldio-i5w2beqq8dr div { box-sizing: content-box; }
