.load-box {
padding: 25px 25px 15px 25px;
margin-bottom: 30px;
}

.items-grid {
    border-color: rgb(201, 209, 217);
    border-radius: 6px;
}

.table {
    color: inherit;
}

.pointer {
    cursor: pointer;
}
thead th {
    cursor: pointer;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

thead th.ascending::after {
    content: '▼';
    display: inline-block;
    margin-left: 1em;
  }
  
  thead th.descending::after {
    content: '▲';
    display: inline-block;
    margin-left: 1em;
  }
  
  tbody tr:hover {
    background-color: #353535;
  }