
.search-panel {
    margin: 1rem 0;
  }

.search-panel .search-input {
 
    width: auto;
    flex-grow: 1;
    margin-right: 3px;
  }

.form-group {
   margin-right: 5px;
   flex-basis: 19.5%
}
.break {
    flex-basis: 100%;
    height: 0;
}
.input-form {
    flex-wrap: wrap;
}
.sub-btn {
    flex-basis: 19.5%;
    margin-right: 7px;
    margin-left: auto;
}